body {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  display: block;
}

.gameArea {
  margin-top: 25vh;
  padding: 0;
}

#player1, #player2 {
  display: inline-block;
  width: 200px;
  height: 140px;
  border: 1px solid #000;
  padding: 5px;
  margin: 25px;
  text-align: center;
  font-size: 7em;
}

#output {
  width: 550px;
  text-align: center;
  margin: 0 auto;
  font-size: 2em;
}

button {
  padding: 10px;
  text-align: center;
  width: 550px;
}