.container {
  max-width: 280px;
  margin: 250px auto 0;
  padding: 15px;
  text-align: center;
}


.message, .star {
  color: #fff;
}

.message, .container {
  background-color: #ddd;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.star {
  font-size: 2.5em;
  color: #fff;
  display: inline-block;
}

.yellow {
  color: yellow;
}

.orange {
  color: orange;
}

.output {
  width: 50%;
  margin:10px 0 0;
  padding: 10px;
  border: 2px solid #eee;
  background-color: #ddd;
}