
h3, ul {
  margin: 0;
  padding: 5px;
}

ul {
  padding-left: 35px;
}

.main .abody {
  border: 1px solid #eee;
  display: none;
}

.main .active .abody {
  display: block;
}

.main .ahead {
  background-color: #333;
  padding: 0;
  font-size: 1.6em;
  margin: 5px;
  color: white;
  cursor: pointer;
}